<manifest
    package="so.raw.daemon"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <service
            android:name="so.raw.daemon.DaemonService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <service
            android:name=".JWakeUpService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.zhongsou.souyue"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".BdRegReceiver"
            >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
